{% extends 'base_auth.html' %}
{% load static %}
{% block content %}
	
	<div class="row">
		<div class="col-md-4"></div>
		<div class="col-md-4">
			<div class="card mt-5">
				
				<div class="card-body">
					<div class="card-title py-3">
						<h4>Register a Free Account!</h4>
					</div>
					<form action="" method="post" accept-charset="utf-8">
						<div class="form-group">
							<input type="username" name="username" class="form-control form-control-sm" id="usernameField" placeholder="Username" />
						</div>
						<!--Area to display the error message for invalid username-->
						<div class="invalid-feedback invalid_feedback" style="display:none"></div>
						<p class="form-group text-success usernameSuccessOutput"></p>
						<div class="form-group">
							<input type="email" name="email" class="form-control form-control-sm" id="emailField" placeholder="email"/>
						</div>
						<!--Area to display the error message for invalid email-->
						<div class="invalid-feedback emailFeeBackArea" style="display:none"></div>
						
						<div class="form-group">
							<input type="password" name="password" class="form-control form-control-sm" id="passwordField" placeholder="password" />

							<small class="float-right py-3">show password</small>
						</div>
						<input type="submit" value="Register" name="" class="btn btn-block btn-primary" />
					</form>
				</div>
			</div>
		</div>
		<div class="col-md-4"></div>
	</div>
	<!--JavaScript for checking the username validation-->
	<script type="text/javascript" src="{% static 'js/register.js' %}"></script>
{% endblock%}